<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dao.face.MboardDao">

	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM mboard
	</select>
	
	<select id="selectMboardHash" resultType="hashMap" parameterType="util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, B.*  FROM (
				SELECT b.mboard_no, b.member_no, b.mboard_title, b.mboard_content, b.mboard_date, b.mboard_hit, b.mboard_cmtcnt, b.mboard_likecnt
					,m.member_id, m.member_nick 
				FROM mboard b
				JOIN member m ON ( b.member_no = m.member_no ) ORDER BY b.mboard_no DESC
			) B
		) MBOARD
	 	WHERE rnum between #{startNo } AND #{endNo }
	</select>

	<update id="updateHit" parameterType="int">
		UPDATE mboard
		SET mboard_hit = mboard_hit + 1
		WHERE mboard_no = #{mboardNo }
	</update>	
	
	<select id="detailPageByMboardNo" resultType="hashMap" parameterType="int">
		SELECT b.mboard_no, b.mboard_title, b.mboard_content, b.mboard_date, b.mboard_hit, b.mboard_cmtcnt, b.mboard_likecnt, m.member_id, m.member_nick
		FROM mboard b
		JOIN member m ON ( b.member_no = m.member_no )
		WHERE mboard_no = #{mboardNo }
	</select>
	
	
	<select id=" selectMboardByMboardNo" resultType="hashMap" parameterType="dto.Mboard">
		SELECT b.mboard_no, b.member_no, b.mboard_title, b.mboard_content, b.mboard_data, b.mboard_hit, b.mboard_cmtcnt, b.mboard_likecnt,
			m.member_id, m.member_nick FROM mboard b
		JOIN member m ON (b.member_no = m.member_no)
		WHERE mboard_no = #{mboardNo}
	</select>
	
	<!-- 게시글 삽입 -->
	<insert id="insert" parameterType="dto.Mboard">
		<selectKey order="BEFORE" resultType="int" keyProperty="mboardNo">
			SELECT mboard_seq.nextval FROM dual
		</selectKey>
		INSERT INTO mboard ( mboard_no, member_no, mboard_title, mboard_content, mboard_date, mboard_hit, mboard_cmtcnt, mboard_likecnt)
		VALUES( #{mboardNo }, #{memberNo }, #{mboardTitle }, #{mboardContent }, sysdate, #{mboardHit }, #{mboardCmtcnt }, #{mboardLikecnt } )
	</insert>
	
	<!-- 파일 삽입 -->
	<insert id="insertFile" parameterType="dto.FileUpload">
		INSERT INTO FileUpload ( fileUpload_no, mBoard_no, fileUpload_ori, fileUpload_stor)
		VALUES ( mboardfile_seq.nextval, #{mboardNo }, #{fileUploadOri }, #{fileUploadStor })
	</insert>	
	
	<select id="selectMboardFileByMboardNo" resultType="int" parameterType="dto.FileUpload"> 
		SELECT fileUpload_no, mboard_no, fileUpload_ori, fileUpload_stor
		FROM FileUpload
		WHERE mboard_no = #{mboardNo }
	</select>
	
	<select id="selectMboardFileByFileUploadNo" resultType="dto.FileUpload" parameterType="dto.FileUpload">
		SELECT fileUpload_no, mboard_no, fileUpload_ori, fileUpload_stor
		FROM FileUpload
		WHERE fileUpload_no = #{fileUploadNo }
	</select>
	
	<update id="update" parameterType="dto.Mboard">
		UPDATE mboard
		SET mboard_title = #{mboardTitle },
			mboard_content = #{mboardContent }
		WHERE mboard_no = #{mboardNo }
	</update>
	
	<!-- 기존 첨부파일 삭제 -->
	<delete id="deleteFile" parameterType="dto.Mboard">
		DELETE fileUpload
		WHERE mboard_no = #{mboardNo }
	</delete>
	
	<!-- 기존 게시글 삭제 -->
	<delete id="delete" parameterType="dto.Mboard">
		DELETE mboard
		WHERE mboard_no = #{mboardNo }
	</delete>
	
	<!-- 좋아요 여부 -->
	<select id="findlike" resultType="int">
		SELECT count(*) from mboardlike
		WHERE member_no = #{memberNo } AND mboard_no = #{mboardNo }
	</select>
	
	
	

	
	
	

</mapper>
