<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="dao.face.SboardDao">
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM studyboard
	</select>
	
	<select id="selectSboardHash" resultType="hashMap" parameterType="util.Paging">
		SELECT * FROM ( 
			SELECT rownum rnum, B.* FROM (
				SELECT s.study_no, s.member_no, s.study_title, s.study_people, s.study_address, s.study_tag, s.study_date, s.study_time
						,s.study_content, s.study_notify, s.enrollstudy_date, s.sboard_markcnt
						,m.member_id, m.member_nick
				FROM studyboard s
				JOIN member m ON ( s.member_no = m.member_no ) ORDER BY s.study_no DESC 
			) B
		) STUDYMBOARD
		WHERE rnum between #{startNo } AND #{endNo }
	</select>
	
	<select id="detailPageBySboardNo" resultType="hashMap" parameterType="int">
		SELECT s.study_no, s.study_title, s.study_people, s.study_address, s.study_tag, s.study_date, s.study_time, s.study_content
				, s.study_notify, s.enrollstudy_date, s.sboard_markcnt 
		FROM studyboard s
		JOIN member m ON (s.member_no = m.member_no )
		WHERE study_no = #{studyNo }
	</select>
	
	<insert id="enroll" parameterType="dto.StudyBoard">
		<selectKey order="BEFORE" resultType="int" keyProperty="studyNo">
			SELECT studyboard_seq.nextval FROM dual
		</selectKey>
		INSERT INTO studyboard ( study_no, member_no, study_title, study_people, study_address, study_tag, study_date, study_time, study_content, study_notify)
		VALUES( ${studyNo }, #{memberNo }, #{studyTitle }, #{studyPeople }, #{studyAddress }, #{studyTag }, #{studyDate }, #{studyTime }, #{studyContent }, #{studyNotify } )
	</insert>
	
	<update id="update" parameterType="dto.StudyBoard">
		UPDATE studyboard
		SET study_title = #{studyTitle }
			study_content = #{studyContent }
		WHERE study_no = #{studyNo }
	</update>
	
	
	<delete id="delete" parameterType="dto.StudyBoard">
		DELETE studyboard
		WHERE study_no = #{studyNo }
	</delete>
	
	</mapper>
