@charset "UTF-8";

/* ==== search box ==== */
.search {
    padding-top: 50px;
    padding-bottom: 25px;
/*     width: 580px; */
    margin: 0 auto;
	
/* 	display: flex;	 */
	align-items: center;
}

.search_title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #6cc4dc;
}

.search_wrap {
	max-width: 580px;
	width: 100%;
	position: relative;
	text-align: center;
	
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.search_input {
    padding-top: 64px;
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: transparent;

    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    display: flex;
}

.search_input:hover {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.search_input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

/* 지금 뜨고있는 멘토 */

.mentoRank {
	margin-top: 70px;
}

.mentoRank-title {
	padding-left: 20px;
	font-size: 22px;
	margin: 0 auto;
	font-weight: bold;
}

.mento-list .mento-item {
    padding: 10px;
    margin: 30px 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    
    height: 350px;
    cursor: pointer;
}

.mento-item > img { /* 멘토 게시글 이미지 */
	height: 150px;
}

.mento-item:hover { /* 멘토 hover */
	background-color:rgba(216, 229, 236, 0.5);
}

.mento-title { /* 타이틀 폰트 */
	margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #3c4142;
    text-decoration: none;
    height: 50px;
}

.mento-name { /* 멘토 이름  */
    color: #3c4142;
    margin-bottom: 10px;
    font-size: 16px;
}

.mento-price { /* 멘토링 가격 */
	color: #3f92b7;
	font-weight: bold;
	font-size: 16px;
}

.mento-field { /* 멘토 분야 버튼 */
	cursor: default;
	background-color: #e3eff9;
	color: #3c4142;
	border-radius: 15px;
	border: none;
	font-size: 12px;
	padding: 5px;
}

.owl-item { /* 내부 컨텐트 크기 */
    width: 25%;
}

.owl-prev { /* prev 버튼 */
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  margin-left: 0;
  display: block !important;
}

.owl-prev .owl-nav-wrapper { /* prev 버튼 위치 */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-next { /* next 버튼 */
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: block !important;
}

.owl-next .owl-nav-wrapper { /* next 버튼 위치 */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}


/* 마감임박 스터디 */

.studyRank {
	margin-top: 50px;
}

.studyRank-title {
	padding-left: 20px;
	font-size: 22px;
	margin: 0 auto;
	font-weight: bold;
}

.study-list .study-item {
    padding: 10px;
    margin: 30px 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    cursor: pointer;
}

.study-item:hover { /* 스터디 hover */
	background-color:rgba(216, 229, 236, 0.5);
}

.study-title { /* 타이틀 폰트 */
	margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #3c4142;
    text-decoration: none;
    height: 50px;
}

.study-name { /* 스터디 이름  */
    color: #3c4142;
    margin-bottom: 10px;
    font-size: 16px;
}

.study-people { /* 스터디 인원 */
	color: #3f92b7;
	font-weight: bold;
	font-size: 16px;
}

.study-tag { /* 스터디 태그 버튼 */
	cursor: default;
	background-color: #e3eff9;
	color: #3c4142;
	border-radius: 15px;
	border: none;
	font-size: 12px;
	padding: 5px;
}

/* 최신 업데이트 스터디룸 */
.studyroom {
	margin-top: 60px;
}

#sRoom-wrap {
	margin-top: 15px;
}

#sRoom { /* 스터디룸 */
	padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    cursor: pointer;
}

#sRoom:hover { /* 스터디룸 card hover시 */
	background-color:rgba(216, 229, 236, 0.5);
}

#sRoom > img {
    width:100%;
	height: 200px;
    object-fit:cover;
}

a {
	text-decoration: none;
	
}

.sRoomName { /* 스터디룸 타이틀 폰트 */
	margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #3c4142;
    text-decoration: none;
}

/* 멘토링 리뷰 */
#mtReview {
	padding: 10px;
}

.mtReviewContent { /* 리뷰 내용 */
	font-size: 16px;
}