@charset "UTF-8";



.mento_intro {
    background-color: #aacde5;
    height: 200px;
}

.mento_intro_content {
    position: relative;
    padding: 84px 2rem 38px;
    text-align: center;
}


a {
    color: white;
    cursor: pointer;
}


.mentoring_txt {
    line-height: 1.47;
    font-size: 16px;
    color: black;
}


.all_content {
    margin: 150px 120px 0px 120px;
    height: 1100px;
}

/* 검색바 */
.form-control {
    width: auto;
    font-size: 13px;
    color: gray;
    float: right;
    padding-right: 80px;
    margin-right: 3px !important;
}

.btn {
    border: solid 1px #6cc4dc;
    background-color: #6cc4dc;
}

.btn:hover {
    border: solid 1px #6cc4dc;
    background-color: #6cc4dc;
}

.d-flex {
    float: right !important;
    margin-right: 16px;
}

.container-fluid {
    padding: 0px;
}

/* 검색바 끝 */


input:focus {
    outline: none;
}


table {
    table-layout: fixed;
    line-height: 2;
    align-items: center;
    border-spacing: 0px 0px;

    border: solid 1px #e3eff9;
    border-radius: 4px;
    border-collapse: separate;

    margin-bottom: 10px;
}

.no {
    color: black;
    font-style: normal;
}

thead {
    background-color: #aacde5;
}

.table {
    width: 102%;
    border-radius: 4px;
    text-align: center;
}

#boardno {
	text-decoration: none;
	color: black;
}

.field_tb {
    background-color: #aacde5;
    width: 183px;
    color: white;
    height: 230px;
}


td {
    padding-left: 5px;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
}

th {
    text-align: center;
    color: white;
}



.field_reset {
    font-size: 0.8em;
    text-decoration: none;
    color: black;

}

.left_sort {

    float: left;
    width: 14%;
    margin-left: 10px;

}

.field {
    margin-top: 46px;
}

.radio_bt {
    float: right;
}


.right_sort {
    display: flex;
    width: 83%;
    place-items: center;
}

.container_rdo {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 19px;
}


.form-check {
    float: left;
    margin-left: 20px;
}

.blockquote {

    font-size: 12px;
}


.pagination, .pagination:hover {

    margin-bottom: 36px;
    justify-content: center;
    --bs-pagination-color: #aacde5;
    padding-top: 80px;

}

.active>.page-link, .page-link.active {
    
     --bs-pagination-active-color: #fff; 
     --bs-pagination-active-bg: #aacde5; 
     --bs-pagination-active-border-color: #dee2e6; 
}


.btn-group {

    --bs-btn-bgwhite: white;
}

.form-check {

    font-size: 14px;
}

.btn-zip {
	width: 102%;
    padding-left: 933px;
}

