.calencar {
  text-align: center; /* 전체 위치 가운데 정렬 */
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
}

.calendarHeadWrap { /* 캘린더 헤더*/
  position: relative;
  background: #6cc4dc;
  height: 70px;
}

#calendarHead {
  width: 100%;
  position: relative;
}
  
#calendarHead .pre-button, #calendarHead .next-button {
  cursor: pointer;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  font-size: 16px;
}

#calendarHead .pre-button i, #calendarHead .next-button i { /*버튼 색상 화이트 */
	color: #fff;
}

.pre-button {
  left: 5px;
}

.next-button {
  right: 5px;
}

.head-day { /* 캘린더 헤드 날짜 */
  font-size: 36px;
  line-height: 1;
  color: #fff;
  text-align: center;
}

.head-month { /* 캘린더 헤드 달 */
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  
  text-align: center;
}


/* 캘린터 테이블 */
.calendar-wrap {
  width: 100%;
  text-align: center;
}

#calendar {
  width: 100%;
}

#calendar > tr {
	height: 35px;
}


#calendar > tbody td {
  width: 14%;
  border-radius: 50%;
  font-size:16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 0;
}

#calendar > tbody td:after {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	width: 35px; /* 선택된 원 크기 */
	height: 35px;
	margin: 0 auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  #calendar > tbody td:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }


#calendar > tbody td:hover, .selected { /* hover된 텍스트 */
  color: #fff;
  border: none;
}
  
#calendar > tbody td:hover:after, .selected:after { /* 날짜 hover 색상 */
  background: #2a3246;
}

#calendar > tbody td:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7); }

#today { /* 오늘 날짜 자동 선택 */
  color: #fff;
}
  
#today:after {
  background: #6cc4dc; } /* 메인컬러 */

#disabled {
  cursor: default;
  background: #fff;
}

/* reset 버튼 */
#reset {
  display: block;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 999;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  padding: 0 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 11px; }

#reset:hover {
  color: #fff;
  border-color: #fff; }

#reset:active {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }